/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 1.4;
  text-rendering: optimizelegibility;
  margin: 0;
}

h1 {
  color: var(--h1-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-hover-border-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* App wrapper */
.wrapper {
  height: 100%;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Responsive Design */
@media screen and (width <= 75em) {
  body {
    font-size: 18px;
  }
}

@media screen and (width <= 60em) {
  body {
    font-size: 16px;
  }
}

@media screen and (width <= 48em) {
  .right,
  .left {
    float: none;
    position: relative !important;
    width: 100%;
    min-height: 250px;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
    --body-color: #333332;
    --h1-color: rgb(0 0 0 / 75%);
    --link-color: #646cff;
    --link-hover-color: #747bff;
    --button-bg-color: #f9f9f9;
    --button-hover-border-color: #646cff;
    --left-sidebar-bg: rgb(0 0 0 / 2.5%);
    --left-sidebar-border: 1px solid rgb(0 0 0 / 5%);
    --name-hero-bg: rgb(0 0 0 / 0.1%);
    --name-hero-em-color: rgb(0 0 0 / 30%);
    --name-hero-p-color: rgb(0 0 0 / 75%);
    --link-text-color: rgb(0 0 0 / 75%);
    --inner-p-color: rgb(0 0 0 / 50%);
    --inner-p-em-color: rgb(0 0 0 / 100%);
    --skill-set-bg: rgb(0 0 0 / 75%);
    --skill-set-color: #fff;
    --skill-set-hover-bg: #3498db;
    --hr-solid-border: 1px solid rgb(0 0 0 / 20%);
    --me-img-border: #333332;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #272727; /* Main content background */
    --body-color: rgba(255, 255, 255, 0.87);
    --h1-color: rgba(255, 255, 255, 0.87);
    --link-color: #8888ff;
    --link-hover-color: #535bf2;
    --button-bg-color: #1a1a1a;
    --button-hover-border-color: #646cff;
    --left-sidebar-bg: rgb(255 255 255 / 2.5%); /* Left sidebar background */
    --left-sidebar-border: 1px solid rgb(255 255 255 / 5%);
    --name-hero-bg: rgb(255 255 255 / 0.1%);
    --name-hero-em-color: rgb(255 255 255 / 30%);
    --name-hero-p-color: rgb(255 255 255 / 75%);
    --link-text-color: rgb(255 255 255 / 75%);
    --inner-p-color: rgb(255 255 255 / 50%);
    --inner-p-em-color: rgb(255 255 255 / 100%);
    --inner-li-color: rgb(255 255 255 / 100%);
    --skill-set-bg: rgb(255 255 255 / 75%);
    --skill-set-color: #000;
    --skill-set-hover-bg: #3498db;
    --hr-solid-border: 1px solid rgb(255 255 255 / 20%);
    --me-img-border: #6C6C6C;
  }
}