name: Trigger auto deployment for resume

on:
  push:
    branches: [main]
    tags:
      - "**"
  pull_request:
    types: [opened, synchronize, reopened]

  # Allow manual trigger
  workflow_dispatch:

jobs:
  sonarqube:
    name: Scan code with sonarqube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-and-push:
    name: Build image and push to registries
    runs-on: ubuntu-latest
    needs: [sonarqube]
    permissions:
      packages: write # to publish to ghcr
      id-token: write
      contents: read
      attestations: write
    outputs:
      tag: ${{ steps.check-tag.outputs.TAG }}

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v4

      - name: Check tag
        id: check-tag
        run: |
          if  [[ ${{ github.ref_type }} == 'tag' ]]; then
              echo "TAG=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"
          else
              echo "TAG=${{ github.sha }}" >> "$GITHUB_OUTPUT"
          fi

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push busybox image
        id: build-push-busybox
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          file: Dockerfile-busybox
          push: true
          sbom: true
          tags: |
            ghcr.io/${{ secrets.GHCR_USERNAME }}/resume:busybox-${{ steps.check-tag.outputs.TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/resume:busybox-${{ steps.check-tag.outputs.TAG }}

      - name: Build and push nginx image
        id: build-push-nginx
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          file: Dockerfile-nginx
          push: true
          sbom: true
          tags: |
            ghcr.io/${{ secrets.GHCR_USERNAME }}/resume:nginx-${{ steps.check-tag.outputs.TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/resume:nginx-${{ steps.check-tag.outputs.TAG }}

      - name: Attest dockerhub image
        if: github.ref == 'refs/heads/main' || github.ref_type == 'tag'
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ secrets.DOCKERHUB_USERNAME }}/resume
          subject-digest: ${{ steps.build-push-busybox.outputs.digest }}

      - name: Attest ghcr image
        if: github.ref == 'refs/heads/main' || github.ref_type == 'tag'
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ghcr.io/${{ secrets.GHCR_USERNAME }}/resume
          subject-digest: ${{ steps.build-push-nginx.outputs.digest }}
          push-to-registry: true

  deploy-azure:
    name: Deploy to azure container apps
    environment:
      name: azure
      url: https://resume.bravewater-857def22.southeastasia.azurecontainerapps.io/
    runs-on: ubuntu-latest
    needs: [build-and-push]
    env:
      DEPLOYED_TAG: ${{ needs.build-and-push.outputs.tag }}
    if: github.ref == 'refs/heads/main' || github.ref_type == 'tag'

    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to azure
        uses: azure/container-apps-deploy-action@v2
        with:
          containerAppName: resume
          containerAppEnvironment: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT }}
          resourceGroup: ${{ secrets.RESOURCE_GROUP }}
          imageToDeploy: ghcr.io/${{ secrets.GHCR_USERNAME }}/resume:nginx-${{ env.DEPLOYED_TAG }}

  deploy-hetzner:
    name: Deploy to hetzner vm
    environment:
      name: hetzner
      url: https://shennarwp.com/cv/
    runs-on: ubuntu-latest
    needs: [build-and-push]
    env:
      DEPLOYED_TAG: ${{ needs.build-and-push.outputs.tag }}
    if: github.ref == 'refs/heads/main' || github.ref_type == 'tag'

    steps:
      - name: Deploy to hetzner
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker stop resume || true \
            && docker rm resume || true \
            && docker run \
                 --detach \
                 --net nginx \
                 --name resume \
                 --restart always \
                 --expose 80 \
                 ${{ secrets.DOCKERHUB_USERNAME }}/resume:busybox-${{ env.DEPLOYED_TAG }} \
            && docker container restart nginx \
            && docker image prune --force

  healthcheck:
    name: Check url after deployment
    runs-on: ubuntu-latest
    needs: [deploy-azure, deploy-hetzner]

    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v4
        with:
          # Check the following URLs one by one sequentially
          url: https://shennarwp.com/cv/|https://resume.bravewater-857def22.southeastasia.azurecontainerapps.io/
          follow-redirect: false # Optional, defaults to "false"
          max-attempts: 5
          retry-delay: 10s
          retry-all: false
